{
  "env": {
    "browser": true
  },
  "extends": [
    "plugin:prettier/recommended",
    "plugin:react/recommended",
    "airbnb",
    "airbnb/hooks"
  ],
  "parserOptions": {
    "ecmaVersion": 2018,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "plugins": ["prettier"],
  "rules": {
    "prettier/prettier": "error",
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }]
  }
}
